.*\.pyc
env/
.idea/*
customOscar/__pycache__/*
oscar/__pycache__/*
oscar/apps/__pycache__/*
oscar/apps/address/__pycache__/*
oscar/apps/analytics/__pycache__/*
oscar/apps/basket/__pycache__/*
oscar/apps/catalogue/__pycache__/*
oscar/apps/checkout/__pycache__/*
oscar/apps/dashboard/__pycache__/*
oscar/apps/customer/__pycache__/*
oscar/apps/offer/__pycache__/*
oscar/apps/*/__pycache__/*
vicore/public/media/*
.hg/
.hgignore